<div class="row">
  <aside class="col-md-8 col-md-offset-2">
    <section class="user_info">
      <h1>
        <%= @user.name %> さまの薬歴・副作用歴一覧
      </h1>
    </section>
  </aside>
</div>
<aside class="col-md-8 col-md-offset-2">
  <h3>お薬の記録</h3>
  <div>
    <table class="tbl-r03">
      <thead>
        <tr>
          <th>処方日</th>
          <th>処方薬</th>
          <th>用法・用量</th>
        </tr>
      </thead>
      <tbody>
      <% @mhis.each do |mhis| %>
        <tr>
          <td> <%= link_to mhis.date, 
          medicine_history_path(:mh_id => mhis.id, :id => @user.id) %></td>
          <td> <%= Medicine.find(mhis.medicine_id).name %> </td>
          <td> <%= mhis.dose %> <%= mhis.adm %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="center">
    <%= paginate @mhis %>
    </div>
  </div>
  <h3>副作用歴</h3>
  <table class="tbl-r03">
      <thead>
        <tr>
          <th>お薬名</th>
          <th>症状</th>
          <th>説明</th>
        </tr>
      </thead>
      <tbody>
    <% @sefe.each do |se| %>
        <tr>
          <td> <%= link_to se.id, side_effect_path(:sefe_id => se.id) %></td>
          <td> <%= se.name %> </td>
          <td> <%= se.description %></td>
        </tr>
    <% end %>
      </tbody>
  </table>
  
  <h4>
    <!--  検索拡張機能  -->
    <!--<%= link_to "お薬追加", medic_path(:id) %>-->
    <h3>お薬検索</h3>
    <%= form_tag(medicine_history_pharmacist_path,:method => 'get') do %>
      <%= text_field_tag :search, params[:search]  %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
    <div>
    <ul><% @medicines.each do |med| %>
      <li>
        <%= link_to med.name, new_medicine_history_path(:m_id => med.id, :u_id => @user.id ) %>
        <%= med.effect %>
      </li>
      <% end %>
    <%= paginate @medicines %>
      </ul>
    </div>
  </h4>
  <h4>
    <%= link_to "副作用歴追加", new_side_effect_path %>
  </h4>
</aside>