<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %> さま
      </h1>
    </section>
  </aside>
</div>
<h3>お薬の記録</h3>

<table class="tbl-r03">
    <thead>
      <tr>
        <th>処方日</th>
        <th>処方薬</th>
        <th>用法・用量</th>
      </tr>
    </thead>
    <tbody>
  <% @mhis.each do |mhis| %>
      <tr>
    <%= link_to medicine_history_path(:mh_id => mhis.id), :style=>"color:black;" do %>
        <td> <%= link_to mhis.date, medicine_history_path(:mh_id => mhis.id) %></td>
        <td> <%= Medicine.find(mhis.medicine_id).name %> </td>
        <td> <%= mhis.dose %> <%= mhis.adm %> </td>
    <% end %>
      </tr>
  <% end %>
    </tbody>
</table>
<h3>
  <%= link_to "お薬追加", medic_path %>
</h3>