<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %> さま
      </h1>
    </section>
  </aside>
  <h3>プロフィール</h3>
  
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    性別：<%= @user.sex %>

    生年月日：<%= @user.birthdate %>

    身長：<%= @user.height %>

    体重：<%= @user.weight %>

    血液型：<%= @user.blood %>

    住所：<%= @user.address %>

    連絡先：<%= @user.contact %>
    </div>
  </div>
</div>