<% provide(:title, 'Sign up') %>
<h1>薬歴追加画面</h1>
<h2><%= @medicine.name %> and <%= @medicine.id %></h2>
お薬の説明：<%= @medicine.description %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@medicine_histories) do |f| %>
      
      <%= f.label :date, "日付" %>
      <%= f.date_field :date %>

      <%= f.label :pharmacist_id, "薬剤師名" %>
      <%= f.collection_select :pharmacist_id, Pharmacist.all, :id, :name %>

      <%= f.hidden_field :medicine_id, :value => @medicine.id %>

      <%= f.label :adm, "用法" %>
      <%= f.text_field :adm %>

      <%= f.label :dose, "用量" %>
      <%= f.text_field :dose %>

      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>