<!DOCTYPE html>
<html>
  <head>
    <% if logged_in_ph? %>
      <title>お薬手帳電子版-薬剤師</title>
    <% else %>
      <title>お薬手帳電子版</title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all',
                'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application',
                'data-turbolinks-track': 'reload' %>
    </head>
  <body>
    <% if logged_in_ph? %>
      <%= render 'layouts/header_ph' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
